<% provide(:title, "Sign up") %>
<section class="sign-up">
  <div class="container">
    <div class="row">
    	<header class="section-title">
				<h2 >Sign up</h2>
				<div class="section-line">
          <span class="section-line-span"><i class="fa fa-sun-o"></i></span>
        </div>
      </header>
    </div>
    <div class="sign-up-form">
			<%= form_for(@user, url: signup_path) do |f| %>
				<%= render 'shared/error_messages' %>

				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>

				<%= f.label :email %>
				<%= f.email_field :email, class: 'form-control' %>

				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>

				<%= f.label :password_confirmation, "Confirm Password" %>
				<%= f.password_field :password_confirmation, class: 'form-control' %>
				
				<%= f.submit "Create my account", class: "btn btn-primary" %>
			<% end %>
			<%= link_to "Back", root_path, class: "btn btn-primary" %>
		</div>
	</div>
</section>