<header class="main-header alt-bg header-short">
	<div class="header-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<!-- Logo -->
					<div class="logo-wrapper pull-left">
						<%= link_to root_path, class: "main-logo" do %>
							<%= image_tag "logo.png", alt: "Main logo" %>
						<% end %>
					</div>

					<!-- Main menu -->
					<nav class="nav-main pull-right" id="main-nav">
						<ul class="main-nav-list visible-sm visible-md visible-lg">
							<%= link_to "Home", "#", class: "menu-item menu-link-active page-scroll" %>
							<%= link_to "About", "#", class: "menu-item page-scroll" %>
							<%= link_to "Portfolio", "#", class: "menu-item page-scroll" %>
							<%= link_to "Contact", "#", class: "menu-item page-scroll" %>
							<%= link_to "Sign up", "#", class: "menu-item page-scroll" %>
							<%= link_to "Log in", "#", class: "menu-item page-scroll" %>
						</ul>
					</nav>

					<!-- Header clearfix -->
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Header separator -->
<div class="top-separator"></div>
<div class=""></div>